@font-face {
    font-family: 'Light';
    src: url('../fonts/Ubuntu-Light.ttf');
}
@font-face {
    font-family: 'Regular';
    src: url('../fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Medium';
    src: url('../fonts/Ubuntu-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-button: #dfaa5b;
    --color-text: #957554;
}

html {
    font-size: 16px;
}

/* * font-familys and font-sizes */

h1 {
    font-family: 'Regular';
    font-size: 5rem;
}
h2 {
    font-family: 'Medium';
    font-size: 2.875rem;
    color: var(--color-text);
}
h3 {
    font-family: 'Medium';
    font-size: 2.5rem;
    color: var(--color-text);
}

p {
    font-family: 'Regular';
    font-size: 1.5rem;
    color:var(--color-text);
}

a {
    text-decoration: none;
    color: white;
}
footer .div__links a {
    font-family: 'Regular';
    font-size: 1.5rem;
    color:white;
}
.label__subscribe {
    font-family: 'Medium';
    font-size: 1.875rem;
    color:white;
}

/* * Background Colors */

button {
    background-color: var(--color-button);
}
footer {
    background-color: #111111;
}

/* * start Header */

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0 50px 0;
}

.header img {
    width: 151px;
}

.nav__header {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nav__header a {
    color: var(--color-text);
}
.nav__header img {
    height: 16px;
    width: 16px;
}

/* * start main */

.sc__welcome {
    background: url('../img/hero_image.png') center/cover no-repeat;
    width: 100vw;
    height: auto;
    min-height: 790px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.div__welcome {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.div__welcome h1 {
    color: white
}
.div__welcome p {
    color: white;
}

.div__welcome button {
    padding: 12px 64px;
    border: none;
    border-radius: 10px;
}

/* * Section Facilities */

.sc__facilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}
.sc__facilities h2 {
    padding: 32px 0;
}
.ul__facilities {
    display: flex;
    gap: 64px;
    list-style: none;
    padding-bottom: 128px;
}

.li__facilities {
    text-align: center;
}

.sc__rooms-rates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 10vw; */
}

.sc__rooms-rates h2 {
    margin-bottom: 32px;
}

.article__rooms-rates {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "std_twin std_room"
    "std_view_room deluxe_room"; */
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 100vw;
    gap: 32px;
    padding-bottom: 128px;
}

.div__room {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2 * 10vw);
    max-width: 630px;
    aspect-ratio: 1.26;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.div__room:hover {
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.5); /* Hier kannst du die Stärke und Farbe des Schattens anpassen */
}

.div__room button {
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
}

.room__twin {
    background: url('../img/standard_twin_room.png') center/cover no-repeat;
    width: 100%;
}
.room__std {
    background: url('../img/standard_room.png') center/cover no-repeat;
    width: 100%;
}.room__std_view {
    background: url('../img/standard_view_room.png') center/cover no-repeat;
    width: 100%;
}
.room__deluxe {
    background: url('../img/deluxe_room.png') center/cover no-repeat;
    width: 100%;
}

.pos__div_rooms {
    position: absolute;
    top: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.div__rooms:hover {
    background-blend-mode: lighten;
}

.div__book {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 64px;
}

.div__book button {
    border: none;
    border-radius: 12px;
    padding: 16px 0;
}

/* * footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 112px;
    min-height: 476px;
    padding: 48px 48px 48px 48px;
    flex-wrap: wrap;
}


.div__infos {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.div__infos p {
    color: white;
}

.div__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.subscribe .input_mail {
    padding: 16px 0 16px 16px;
    border: none;
    border-radius: 8px;
}
.subscribe .submit {
    padding: 16px 0;
    border: none;
    border-radius: 8px;
}